/* tag or element selector*/



h3{

	background-color: blue;
	color: black;
	text-align: right;
}
/* id selector ,id selector a # use hoi,id is unique ,id name cannot start with a number*/
.heading1{
	background-color: black;
	color: white;
	text-align: left;
}
/* class selector . dite hoi selector ar age*/
.heading2{
	background-color:gray;
	color: black;
	text-align: center;
}
.red{
	background-color: rgb(255,0,0);
}
.green{
	background-color: rgb(0,255,0);
}
.blue{
	background-color: rgb(0,0,255);
	color:rgba(255,99,71,1);
}
.redhex{
	background-color: #ff0000;
}
.greenhex{
	background-color: #00ff00;
}
.bluehex{
	background-color: #0000ff;
	
}
#bgimage{


	
	
	
	background-image: url(bgimg.jpg)  ;
	background-attachment: fixed;


}
.borderst{
	width: 300px;
	height:100px;
	color:yellow;
	background-color: blue;
	text-align: center;
	padding: 30px;
	padding-top: 100px;

	border: 3px solid black;
	margin: 30px;
	margin-bottom: 100px;
	outline: 30px dotted red;
	text-decoration: line-through;
	font-size: 30px;
	color :black;
	margin-top:100px;
	margin-left: 400px; 
	text-indent: 100px;
	letter-spacing: 5px;
	line-height: 30px;
	word-spacing: 10px;
	text-shadow: 2px 2px yellow;
}